<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="search">

    </div>
    <div id="map" >

    </div>
    <div id="mark_info" class="yelpList ">

    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDH-lgHzXHDMukrTqPlGZfJ1rY43LZPprw"
            type="text/javascript"></script>
    <script src="/javascripts/vendor/jquery-1.11.2.min.js"></script>
    <script src="/javascripts/vendor/knockout-3.2.0.js"></script>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
