<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
    <div id="search" class="search-box">
      <form action="" data-bind="submit:updateSearchResult">
          <input type="text" class="form-control" data-bind="value: searchTerm"/>
          <button type="submit" class="btn btn-default" data-bind="click::updateSearchResult">
            <i class="fa fa-search fa-5"></i>
          </button>
      </form>
      <form action="" data-bind="submit: filterResult">
        <input type="text" class="form-control" data-bind="value: filterTerm, valueUpdate: 'afterkeydown'"/>
        <button class="btn btn-default" data-bind="click: filterResult">
          <i class="fa fa-search fa-5"></i>
        </button>
      </form>
    </div>
      <div id="mark_info" class="yelpList">
        <ul id="yelp_list" data-bind="foreach: filterList">
          <li data-bind="click: $parent.listToMarkerEvent">
            <div class="row">
              <div class="col-xs-3 img-container">
                <img alt="business image" data-bind="attr:{src: image_url}"/>
                <img alt="business image" data-bind="attr: { src: rating_img_url_small}"/>
              </div>
              <div class="col-xs-9">
                <a data-bind="attr:{href: url}"><h4 data-bind="text: name"></h4></a>
                <p data-bind="text: display_phone"></p>
                <div data-bind="foreach: location.display_address">
                  <p data-bind="text: $data"></p>
                </div>
              </div>

            </div>
          </li>
        </ul>
      </div>
    <div id="map" >
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDH-lgHzXHDMukrTqPlGZfJ1rY43LZPprw"
            type="text/javascript"></script>
    <script src="/javascripts/vendor/jquery-1.11.2.min.js"></script>
    <script src="/javascripts/vendor/knockout-3.2.0.js"></script>
    <script src="/javascripts/app-engine.js"></script>
  </body>
</html>
