/**
 * Created by tianhengzhou on 12/3/15.
 */
/* Small devices (tablets, 768px and up) */
@import "bower_components/bootstrap/less/bootstrap.less";
.screen {
  height: 15%;
  width: 100%;
  @media (min-width: @screen-sm-min) {
    height: 100%;
    width: 25%;
  }

  /* Medium devices (desktops, 992px and up) */
  @media (min-width: @screen-md-min) {
    height:100%;
    width: 25%
  }

  /* Large devices (large desktops, 1200px and up) */
  @media (min-width: @screen-lg-min) {
    height: 100%;
    width: 25%;
  }
}