@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300);
@import "bower_components/font-awesome/less/font-awesome.less";
@import "mixins.less";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
div{
  display: block;
}
#map {
  height: 100%;
}
a {
  color: #00B7FF;
}
.yelpList{
  z-index: 99;
  color: #000;
  margin: 1px;
  .screen
}
